In [2]:
import pandas as pd

In [4]:
df = pd.read_excel("../../data/og-sol/TCC-Instancia-20181.xls")

In [6]:
display(df['HORáRIOS'])

0      [SEX 10:20~12:00 SEX 13:30~15:09]
1      [QUA 13:30~15:09 QUA 15:20~16:09]
2                      [SEG 15:20~17:50]
3                      [SEX 15:20~17:50]
4                      [QUA 16:10~17:50]
                     ...
589    [QUA 13:30~15:09 QUA 15:20~16:09]
590    [SEG 13:30~15:09 SEG 15:20~16:59]
591    [TER 13:30~15:09 TER 15:20~16:59]
592                    [QUI 13:30~15:09]
593    [SEX 13:30~15:09 SEX 15:20~16:59]
Name: HORáRIOS, Length: 594, dtype: object